.board{
    display: grid;
    grid-template-columns: repeat(8, 64px);
    grid-template-rows: repeat(8, 64px);
    padding: 10px;
}

.board div{
    font-size: 44px;
    color: white;
    padding-top: 4px;
    padding-left: 8px;
}

.red{background-color: red;}
.gray{background-color: gray;}