.container {
    justify-content: center;
    display: grid;
    grid-template-columns: 20% 60%;
    grid-template-rows: 48px 48px 248px 48px;
    grid-template-areas:
        'menu menu'
        'header header'
        'profile main'
        'footer footer';
    gap: 10px;
}

.text {
    padding: 16px;
    text-align: center;
    border-radius: 5px;
}

.menu {background: lightgreen; grid-area: menu;}
.header {background: orange; grid-area: header;}
.profile {background: pink; grid-area: profile;}
.main {background: cyan; grid-area: main;}
.footer {background: purple; grid-area: footer;}